$bmm-admin-main-color: #6d01ff;

.bmm_megamenu_launch{
    font-size: 10px;
    border-radius: 2px;
    padding: 3px;
    background:$bmm-admin-main-color;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}

ul.menu{
    .menu-item{
        .menu-item-bar{
            &:hover{
                .bmm_megamenu_launch{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.bmm--modal-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    background: rgba(1,1,1,.4);
    .bmm--modal-inner{
        width: 550px;
        margin: 10vh auto;
        background: #FFF;
        box-shadow: 0 0 26px -8px rgba(1,1,1,.2);
        position: relative;
        opacity: 0;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transition: .3s ease;
        -webkit-transition: .3s ease;
        .bmm--close{
            position: absolute;
            right: 0;
            top: -30px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
        }
        .bmm--modal-heading{
            padding: 20px;
            font-weight: bold;
            background: $bmm-admin-main-color;
            color: #FFF;
            font-size: 1.2em;
        }
        .bmm--modal-body{
            padding: 20px;
            min-height: 360px;
        }
        .bmm--modal-footer{
            padding: 20px;
            background: #fff;
            border-top: solid 1px #f1f1f1;
            text-align: right;
        }
    }
    &.is-open{
        visibility: visible;
        opacity: 1;
        z-index: 99999;
        .bmm--modal-inner{
            opacity: 1;
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }
    }
}

.bmm__tip{
    line-height: 18px;
    font-size: 12px;
    margin-top: 9px;
    color: #6b6b6b;
}